[D-BUS Service]
Name=org.freedesktop.Telepathy.ConnectionManager.bruecke
Exec=/bin/sh -c "exec /opt/bruecke/bruecke >> /home/user/.local/share/bruecke/bruecke.log 2>&1"
